fastapi
uvicorn[standard]
tensorflow
numpy
pillow
opencv-python-headless
python-multipart
python-dotenv
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
deep-translator
